{% extends 'food/base.html' %}

{% block title %}
    Add item
{% endblock title %}
{% block content %}

<div class="container-fluid">
    <div class="row no-gutter">
        <div class="col-md-12">
            <div class="login d-flex align-items-center py-5">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-lg-7 mx-auto">
                        <form class="account-form p-4 rounded col-lg-10 mx-auto" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <h3 class="mb-2 font-weight-bold">Add Item</h3>
                        {% if form.errors %}
                        <p>Please correct the following errors:</p>
                        {% for field in form %}
                        {% if field.errors %}
                        <div class="alert alert-primary" role="alert">
                            {{ field.label }}: {{ field.errors|striptags }}
                        </div>
                        {% endif %}
                        {% endfor %}
                        {% endif %}

                        {{form.as_p}}

                        <button class="btn btn-primary btn-block py-2 mb-4 mt-5 fw500 w-100" type="submit">Create</button>
                        </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}